<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Inicia sesión</title>
<link rel="canonical" href="https://mlpz2.github.io/login.html/login.html">
<meta property="og:url" content="https://mlpz2.github.io/login.html/login.html">
<meta name="description" content="Moodle">

<div class="container" style="display: block;overflow: visible;background: rgba(255,255,255,0.25);filter: grayscale(0%);padding-bottom: 69px;border-style: none;border-bottom-style: none;border-bottom-color: rgb(255,255,255);border-radius: 0;">
  <form class="d-flex float-none form-container" style="background: rgb(255,255,255);backdrop-filter: opacity(0);-webkit-backdrop-filter: opacity(0);margin-bottom: -52px;margin-top: -40px;border-style: none;border-color: rgb(255,255,255);border-top-style: none;border-right-style: none;border-bottom-style: hidden;border-left-style: none;border-radius: 0;">
    <div class="text-center form-group"><img class="img-fluid d-block mx-auto" src="mlpz2.github.io/src/assets/img/transparent_version.png" alt="Logo" width="122" height="122" style="border-radius: 100%;"></div><input class="form-control form-control" type="text" id="username" placeholder="Usuario" style="position: relative;display: flex;overflow: hidden;border-radius: 0;border: 1px solid rgb(194,194,194);background: #D9D9D9;box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);padding-left: 3px;">
    <div class="form-group"><label class="form-label" for="username"></label></div>
    <div class="form-group"><label class="form-label" for="password"></label></div><input class="form-control form-control" type="password" id="password" placeholder="Contraseña" style="text-align: left;position: relative;border-radius: 0;border: 1px solid rgb(194,194,194);background: #D9D9D9;box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);padding-left: 3px;margin-top: -27px;">
    <div><br><button class="btn btn-primary btn-block" type="submit" style="padding-left: 13px;border-radius: 0;width: 190px;height: 46px;box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.25);background: #D9D9D9;filter: invert(0%);color: rgb(0,0,0);border-style: none;margin-top: 8px;">Enviar</button></div><br>
    <div class="form-group form-check"><input type="checkbox" class="form-check-input" id="remember-password" style="border-radius: 0;border: 1px none rgb(176,176,176);border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;margin-top: 16px;" onclick="guardarEstadoCheckbox()"><label class="form-label form-check-label" for="remember-password" style="margin-top: 21px;">Recordar contraseña</label></div>
  </form>
</div>
