#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(125, 125, 125);
  margin-top: 30rem;
  z-index: 0;
 
}

#login {
  background: rgba(47, 123, 161, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(173, 171, 175, 0.3);
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5rem;
  height: 92%;
  width: 25%;
  z-index: 1;
 

}

#foto {
  display: flex;
  justify-content: center;
  

  width: 100%;
  height: 30%;
  margin-top:7rem;
}

#foto img {
  width: 60%;
  height: 100%;
}

form {
  margin-top: 5rem;
  height: 50%;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;

}
form div{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;

}
form div input {
  height: 50%;
  width: 70%;
  border-style:none;
  border-radius: 5px;
  text-align: center;
}


#botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space around;
  height: 40%;

  
  margin-bottom: -20%;

}


#enviar {
 
  width: 50%;
  height: 30%;
  background-color: rgb(194, 28, 28);
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
}


a{
  color: #cbc7c7;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
  color: #a5a3a3;
}
