<section id="container">
    <div id="login">

        <div id="foto">
            <img src="/assets/imagenesEscuela/709722.png" />
    
        </div>
        <form>
            <div >
                <label for="validationCustom01" class="etiqueta"></label>
                <input type="text" class="form-control"  placeholder="USUARIO" required
                    name="name">
            </div>
            <div >
                <label for="validationCustom01" class="etiqueta"></label>
                <input type="text" class="form-control"  placeholder="CONTRASEÑA" required
                    name="name">
            </div>

            <div  id="botones" >

                <button id="enviar" class="btn " type='submit'>Log In</button>
            
            </div>
            <div id="contraseña">
                <p><a href="#">¿Has olvidado tu contraseña?</a></p>
            </div>

        </form>
      
      




    </div>


  








    

</section>