
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
}

.btn-dark {
  background-color: black;
  border-color: black;
  color: white;
}

.btn-lg {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}
