
<main>
  <table *ngFor="let usuario of usuarios">
    <th>
      <h2>{{ usuario.nombre }} {{ usuario.apellidos }}</h2>
    </th>
    <tr>
      <td>
        <p>Usuario: {{ usuario.usuario }}</p>
      </td>
      <td>
        <p> DNI: {{usuario.dni}}</p>
      </td>
     
    </tr>
    <tr class="filapar">
      <td>
        <p>Contraseña: {{usuario.password}}</p>
      </td>
      <td>
        <p>Dirección: {{usuario.direccion}}</p>
  
      </td>
    </tr>
    <tr>
      <td>
        <p>Teléfono: {{usuario.telefono}}</p>
      </td>
      <td>
        <p> Tipo Alumnno:{{usuario.tipo_usuario}}</p>
      </td>
    </tr>
    <tr class="filapar">
      <td>
        <p> Activo: {{usuario.activo}}</p>
  
      </td>
    </tr>
  
  
  
  </table>

</main>
