main{
    width: 70%;
    margin-top: 10rem;
    margin-right: 20rem;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: absolute;
    right: 0;
   
}

table{
    background-color: #e6e4e4;
    width: 40%;
    margin: 2rem;
   
   
   
    border: 1px solid black;
    
   
    display: flex;
    flex-wrap: wrap;
}
table th{
    background-color: #3f3f3f;
    color: #ffffff;
    width: 100%;
}

table tr{
  
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0.5rem;
}

table tr td{
    width: 50%;
 
}

.filapar{
   
    background-color: #c4bfbf;
    
}
 p{
    font-size: 1em;
 }