<main class="container text-center" style="min-height: 90vh;" *ngIf="usuario">
    <h1 class="my-2">PERFIL</h1>
    <section class="row">
        <!-- Foto y Nombre -->
        <div class="col-lg-4">
            <div class="card mb-4">
                <a class="config position-absolute" href="/profile" style="top: 1rem; right: 1rem;">
                    <img src="../../assets/img/config.png" alt="config" style="width: 25px;">
                </a>
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{usuario.nombre}} {{usuario.apellido}}</h5>
                    <p class="text-muted mb-1">Curso: {{curso}}</p>
                    <p class="text-muted mb-4">Promedio de Notas: {{promedio}}</p>
                </div>
            </div>
        </div>
        <!-- /Foto y Nombre -->
        <!-- Datos Alumno -->
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">DNI:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.dni}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nombre:</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.nombre}} {{usuario.apellido}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Mobile</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.telefono}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Dirección</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{usuario.direccion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Datos Alumno -->
    </section>
    <!-- Notas -->
    <section class="row">
        <h2>Cursos</h2>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>Curso</th>
                        <th>Nota</th>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>curso.nombre</td>
                        <td>nota</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>curso.nombre</td>
                        <td>nota</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>curso.nombre</td>
                        <td>nota</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>curso.nombre</td>
                        <td>nota</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <!-- /Notas -->
</main>