<main id="container">



  <div id="notas">
    <div id="tabla" *ngIf="contenidoVisibleTabla">
      <div id="cabecera-tabla" >
        <div>CURSO</div>
        <div>ASIGNATURA</div>
        <div>NOTA</div>
      </div>

      <div id="cuerpo-tabla" >
        <div class="columna-tabla-primera"> </div>
        <div class="columna-tabla-segunda">
          <div *ngFor="let asignatura of asignaturas">
            <h2>{{ asignatura.nombre }}</h2>
          </div>
        </div>
        <div class="columna-tabla-tercera"></div>
      </div>
    </div>




      <div id="media-porcentaje" *ngIf="contenidoVisible">
        <div id="media">
          <div>NOTA MEDIA</div>
          <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="--value: 90"></div>
        </div>
        <div class="circulo" id="porcentaje">
          <div>PORCENTAJE</div>
          <div role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 67"></div>
        </div>
      </div>
      <div id="media-porcentaje-fondo" *ngIf="contenidoVisible"></div>
    </div>



  <footer id="footer">
    <nav id="menu-footer">
      <ul>
        <li>
          <a href="../notificaciones/notificaciones.component.html"><img ngSrc="/assets/imagenesEscuela/alert-26.png" width="512" height="512" alt="Alerta"/>
          </a>
        </li>
        <li>
          <a><img ngSrc="/assets/imagenesEscuela/home.png" width="3%" height="3%" alt="Inicio"/> </a>
        </li>
        <li>
          <a><img ngSrc="/assets/imagenesEscuela/lupa.png" width="3%" height="3%" alt="Lupa"/> </a>
        </li>
        <li>
          <a><img ngSrc="/assets/imagenesEscuela/sms.png" width="3%" height="3%" alt="SMS"/> </a>
        </li>
      </ul>
    </nav>
  </footer>

  <button id="boton-deslizar" (click)="toggle()"></button>




</main>
